body {
    font-family: 'myriad pro', sans-serif;
    font-size: 20px;
    border: 0;
}

form input {
    font-size: 85%;
    padding: .4em;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button {
    background-color: #1FADC5;
    border: 1px solid rgba(0, 0, 0, .2);
    font-size: 75%;
    color: #fff;
    padding: .4em 1.2em;
    border-radius: 2em;
    cursor: pointer;
    margin: 0 .23em;
    outline: none;
}

button[disabled] {
    background-color: #ddd;
    color: #aaa;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    padding: .2em 0;
}

.completed {
    text-decoration: line-through;
    color: #ccc;
}

label {
    cursor: pointer;
}

timer {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    border: 1px solid rgba(64, 139, 194, .5);
    border-radius: 6px;
    color: rgba(64, 139, 194, 1);
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: white;
}

p {
    margin: 0;
}

.menu {
    width: 100%;
    text-align: center;
    float: left;
}

.menu a {
    float: left;
    display: inline-block;
    width: 15%;
    border: 1px solid #CCC;
    padding: 5px 2px;
    text-decoration: none;
    font-size: 14px;
}

.menu a:hover {
    background-color: #EEE;
}

.tagcontainer {
    width: 100%;
    height: 100%;
    float: left;
}

.tagcontainer > div {
    float: left;
}

.tagcontainer .timercontainer {
    width: 20%;
    text-align: center;
}

.tagcontainer .appcontainer {
    width: 40%;
    margin: 0 5%;
    text-align: center;
}

.tagcontainer .todocontainer {
    width: 25%;
}
